

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root{

--corprimaria: #030637;
--corsecundaria: #f6f6f6;
--corterciaria: #720455;
--corhover: #720455;


--fonteprincipal: 'Krona One', sans-serif;
--fontesecundaria: "Montserrat", sans-serif;

}



*{

margin: 0;
padding: 0;
}

body{

   box-sizing: border-box;
   background-color: var(--corprimaria);
   color: var(--corsecundaria);
   
}

.corpo{

height: 100%;
margin: 0px;
padding: 0px;


}


.cabecalho{


padding: 2% 0 0 15%;


}

.menu{

display: flex;
gap: 80px;


}

.pagina {

   font-family: var(--fontesecundaria);
   font-weight: 600;
   font-size: 1.5rem;
   text-decoration: none;
   color: var(--corsecundaria);
   transition: background 0.5s;




}
.destaque{

color: var(--corterciaria);
font-family: var(--fontesecundaria);

}

.destaque1{



font-family: var(--fontesecundaria);


}

.apresentacao {

padding: 4% 15%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 82px ;

}

.conteudo{

width: 50%;
display: flex;
flex-direction: column;
gap:40px;


}

.titulo{

font-size: 2.25rem;
font-family:var(--fonteprincipal);

}

.foto{


border-radius: 10px;
width: 35%;



}

.txt{

font-size: 1.5rem;
font-family:var(--fontesecundaria);

}

.botao{

display: flex;
flex-direction: column;
justify-content: space-between;
gap: 17px;
align-items: center;



}

.subtitulo{

   font-family: var(--fontesecundaria);
   font-weight: 400;
   font-size: 1.5rem;
   


}

.link{

   border: 2px solid var(--corterciaria);
   display: flex;
   justify-content:center;
   gap: 16px;
   width: 378px;
   text-align: center;
   border-radius: 8px;
   font-size: 1.5rem;
   transition: background 0.5s;
   font-weight: 600;
   color: var(--corsecundaria);
   padding: 21.5px 0;
   text-decoration: none;
   font-family: var(--fontesecundaria);

   
}

.certificado{

text-decoration: none;
color: var(--corterciaria);
transition: background 0.5s;


}

.certificado:hover{


background: #b3b1a1;

}

.link:hover{

   background: var(--corterciaria);
   
   }


   .pagina:hover{

      background: var(--corhover);
      border-radius: 5%;

   }



   .lista {


      font-family: var(--fontesecundaria);
      font-size: 22px;
      font-weight: 400;

   }

   .rodape{

      color: black;
      background-color: var(--corterciaria);
      padding: 24px;
      text-align: center;
      font-family: var(--fontesecundaria);
      font-size: 1.5rem;
      font-weight: 400;
      bottom: 0;
      
      
   }

@media (max-width: 1200px) {

.apresentacao{

flex-direction:column-reverse;
padding: 5%;

}

.conteudo{

width: auto;



}

.cabecalho{

padding: 10%;
}

.menu{

justify-content: center;

}



}